@model List<Brand>
<div class="container">

    <div class="row mb-4">
        <div class="col-md-6 text-uppercase">
            <h2>Brand Lists</h2>

        </div>
        <div class="col-md-6 text-end">
            <a asp-controller="BrandController1" asp-action="create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create
            </a>
        </div>

    </div>

    <hr />
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Established Year</th>
        </tr>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.EstablishedYear</td>
                </tr>
            }
        </tbody>
    </table>

</div>  